@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Oleo+Script+Swash+Caps:wght@400;700&family=Reddit+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --green-dark: #0a380e;
  --green-main: #32810d;
  --green-light: #7ac302;
  --orange: #f98805;
  --red: #ee2d0a;
  --outline: #131901;

  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: var(--green-dark);
  background: #f2f5ec;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  min-height: 100%;
  background:
    radial-gradient(
      circle at 15% 10%,
      rgba(122, 195, 2, 0.08),
      transparent 27%
    ),
    radial-gradient(
      circle at 90% 85%,
      rgba(249, 136, 5, 0.055),
      transparent 23%
    ),
    #f2f5ec;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button,
textarea {
  font: inherit;
}

button:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--green-light);
  outline-offset: 2px;
}

#root {
  min-height: 100vh;
}